.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 200px;
  padding: 0 30px;
  width: 100%;
  text-align: left;

  background-color: #2c2c2c;
}

.header p,
.header h1 {
  color: #fff;
  margin: 5px 0;
}

.heading-text {
  font-size: 56px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

.sub-heading-text {
  font-size: 18px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

/* li.MuiListItem-container {
  list-style: none;
} */

/* Delete button hidding control */
.MuiButtonBase-root.MuiListItem-root.MuiListItem-button
  .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeStart {
  visibility: hidden;
}
.MuiButtonBase-root.MuiListItem-root.MuiListItem-button:hover
  .MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeStart {
  visibility: visible;
}
